name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      TERM: dumb
      SPOONACULAR_API_KEY: ${{ secrets.SPOONACULAR_API_KEY }}
      RELEASE_KEY_ALIAS: ${{ secrets.RELEASE_KEY_ALIAS }}
      RELEASE_KEY_PASSWORD: ${{ secrets.RELEASE_KEY_PASSWORD }}
      RELEASE_KEY_STORE: ${{ secrets.RELEASE_KEY_STORE }}
      RELEASE_STORE_PASSWORD: ${{ secrets.RELEASE_STORE_PASSWORD }}

    steps:
      - name: Generate build number
        shell: bash
        run: |
          echo "name=BUILD_NUMBER::$(expr $GITHUB_RUN_NUMBER + 5200)" >> GITHUB_ENV

      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Decrypt secrets
        run: ./release/decrypt-secrets.sh
        env:
          ENCRYPT_KEY: ${{ secrets.ENCRYPT_KEY }}

      - name: Copy CI gradle.properties
        run: mkdir -p ~/.gradle ; cp .github/ci-gradle.properties ~/.gradle/gradle.properties

      - name: Build and check
        run: ./gradlew spotlessCheck assemble bundle lintDebug testDebug --scan --stacktrace

      - name: Clean secrets
          if: always()
          run: ./release/clean-secrets.sh

